div{
    background-color: lightgreen;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 5px;
    /* display: inline; */
    display: inline-block;
}

/* giving display : inline to all divs then all divs shrink to single line like this -> | | |
this is because as we made all divs inline the browser is not considering height,width and margin from top bottom.
So, the solution for this is display : inline-block property it basically keeps css property of block elements and also make them inline*/


#third{
    display: none;
}

/* The above property of displat will vanish third div from page */