<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
	</head>
	<body>
		<h1>This is home page</h1>
        <h2> <%= 1+2  %></h2>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nulla odit
			corporis deserunt repellat eligendi sunt exercitationem facilis, nam atque
			aspernatur perspiciatis modi impedit neque illo culpa reprehenderit ab
			porro voluptatum nostrum laborum dolorum architecto totam. In quo rem
			labore, tempora reiciendis, repellat eius quasi iste fugiat voluptas
			facere accusamus nostrum magni facilis modi enim distinctio
			necessitatibus. Vitae, quidem doloremque quaerat asperiores praesentium
			porro eius debitis. Repudiandae minus laboriosam, quis hic nobis quam ad
			soluta nemo iste dolor rerum culpa quaerat quidem fugiat velit
			reprehenderit, ex laborum non officia maxime dolore iure natus quae
			suscipit. Rerum ullam dicta commodi nobis?
		</p>
		<button>click me!</button>
	</body>
</html>
