body {
	background-color: #5a6d6b;
	font-family: cursive;
    color: white;
    font-size: large;
    
}
h1{
    color: orange;
}
h2{
    color:aqua;
}

div{
    height:300px;
    width:300px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 40px;
    display: inline-block;
}

#c1{
   
    background-color: rgba(255, 0, 0, 1);
    
}
#c2{
    
    background-color: rgba(255, 0, 0, 0.502);
}
#c3{
    
    background-color: rgba(255, 0, 0, 0.1);
}

.opacity{

    border-radius: 0%;
    padding: 10px;
    text-align: center;
    font-size: x-large;background-color:burlywood;
    opacity: 0.5;
}