body {
	font-style: georgia;
	font-size: 20px;
}

h2,
li {
	color: black;
}

h1 {
	color: orange;
	text-align: center;
}

p {
	color: red;
	line-height: 30px;
	text-align: center;
}

h3 {
	color: black;
	text-align: center;
}

a {
	color: rgb(0, 255, 0);
	text-decoration: none;
}

button {
	background-color: white;
	color: blueviolet;
}

textarea {
	color: #000000;
}

span {
	text-decoration: underline;
}
